h1, h2, h3, h4, h5, h6{
	font-family: "Play",sans-serif;
}
.ol-dropcaps{
    font-family: "Play",sans-serif;
}
.secondry-font{
	font-family: "Play",sans-serif !important;
}
.summary-box ul.summaries li{
	font-family: "Play",sans-serif;
}
.summary-box .two-col-info .info-box{
	font-family: "Play",sans-serif;
}

.side-header .ol-user-profile .title{
	font-family: "Play",sans-serif;
}

.search-area{
}

.search-area.fullscreen .search-field input{
	font-family: "Play",sans-serif;
}

.ol-countdown div{
	font-family:"Play",sans-serif;
}

.ol-countdown div span{
	font-family:'Sintony',sans-serif;
}

.login-form .tab-navigation li a{
	font-family:'Sintony',sans-serif;
}

.with-social-share .social-share .items{
	font-family: "Play",sans-serif;
}

.course-el .course-instructor{
	font-size: 12px;
	font-family: "Play",sans-serif;
}
.course-shop-data .sub-meta{
	font-family: "Play",sans-serif;
}
.course-shop-data .upper-meta{
	font-family: "Play",sans-serif;
}
.course-purchase-btn{
    font-family: "Play",sans-serif;
}
.widget-rating .rate, .widget-rating .count{
	font-family: "Play",sans-serif;
}
.course-el-regular .course-meta li>span, .course-el-regular .course-meta li .course-instructor>span{
	font-family: "Play",sans-serif;
}
.events .event-nav .event-counter .number{
	font-family: "Play",sans-serif;
}
.events.with-index .row-index .filter-index{
	font-family: "Play",sans-serif;
}
.events.with-filters ul.filters li{
	font-family: "Play",sans-serif;
}
.ol-agenda ul.filters li{
	font-family: "Play",sans-serif;
}
.ol-agenda .ag-section .section-head{
	font-family: "Play",sans-serif;
}
.book-el .contents .item-meta .date, .course-el .contents .item-meta .date{
	font-family: "Play",sans-serif;
}
.book-el.mini .contents .item-meta span, .course-el.mini .contents .item-meta span{
	font-family: "Play",sans-serif;
}
#header .cart > a{
	font-family: "Play",sans-serif;
}
ul#primary-menu li a{
	font-family:"Play",sans-serif;
}
.news-posts{
}
.news-posts.date-aside-list .published_date{
	font-family: "Play",sans-serif;
}
.page-head .title-wrapper .info-wrapper{
	font-family: 'Sintony',sans-serif;
}
.page-head h2.description{
}
.page-head h2.description.alt{
	font-family: "Play",sans-serif;
}
.alert{
	font-family: "Play",sans-serif;
}

.btn {
	font-family: "Play",sans-serif;
}
.icon-box{
}
.icon-box.ib-edu .description{
	font-family: "Play",sans-serif;
}

dl.description-item dt{
	font-family: "Play",sans-serif;
}
ol.with-shaded-label li{
	font-family: "Play",sans-serif;
}
.dl-horizontal dt{
	font-family: "Play",sans-serif;
}
.fact-item .fact-number-wrap .fact-number{
	font-family: "Play",sans-serif;
}
.vc-card .vc-card-wrapper .title{
	font-family: "Play",sans-serif;
}
.ol-timeline .item-section{
	font-family: "Play",sans-serif;
}
.ol-timeline-tab .tl-head li{
	font-family: "Play",sans-serif;
}
.ol-timeline-tab .tl-content .title{
	font-family: "Play",sans-serif;
}





body{
	font-family: 'Sintony',sans-serif;
}
.primary-font{
	font-family: 'Sintony',sans-serif !important;
}
.section-side-title .title, .section-side-title .subtitle{
	font-family: 'Sintony',sans-serif;
}
.intro-box .content-side .subtitle{
	font-family: 'Sintony',sans-serif;
}

.ol-price-table .head .subtitle{
	font-family:'Sintony',sans-serif;
}
.ol-countdown div span{
	font-family:'Sintony',sans-serif;
}
.course-meta-list li{
	font-family: 'Sintony',sans-serif;
}
.lesson-item .title{
	font-family: 'Sintony',sans-serif;
}

.widget-rating .count{
	font-family: 'Sintony',sans-serif;
}
.ol-agenda .ag-section .section-body .contents .subtitle{
	font-family: 'Sintony',sans-serif;
}
.ol-caption .subtitle{
	font-family: 'Sintony',sans-serif;
}
.posts-list .post .entry-content .entry-title{
	font-family: 'Sintony',sans-serif;
}

.page-head .title-wrapper .info-wrapper{
	font-family: 'Sintony',sans-serif;
}

.page-head h2.description{
	font-family: 'Sintony',sans-serif;
}

.page-head h4.head{
	font-family: 'Sintony',sans-serif;
}
dl.description-item{
}
dl.description-item.dl-horizontal{
	font-family: 'Sintony',sans-serif;
}
.vc-card{
}
.vc-card.mini-card .title{
	font-family: 'Sintony',sans-serif;
}

.people-carousel .sub-title{
	font-family: 'Sintony',sans-serif;
}
.single-shot .testimonial-item {
	padding:5px 20%;
	text-align: center;
}
.single-shot .testimonial-item .their-quote{
}
.single-shot .testimonial-item .their-quote:after, .single-shot .testimonial-item .their-quote:before{
	font-family: 'Sintony',sans-serif;
}




.heading-with-sub .subtitle, .heading-with-sub .lead{
	font-family:"Merriweather",serif;
}
blockquote {
}
blockquote.quote{
	font-family: "Merriweather",serif;
}
p{
}
p.highlight{
	font-family: "Merriweather",serif;
}
.sans-font{
	font-family: "Merriweather",serif !important;
}
.intro-box .content-side .title{
	font-family: "Merriweather",serif;
}
.ol-user-profile .title{
	font-family: "Merriweather",serif;
}

.call-out .sub-title{
	font-family: "Merriweather",serif;
}


























