#header.dark, #header.sticky-dark.is-sticky {
    background-color: #25233D;
}

ul#primary-menu ul.sub-menu{
	background-color: #211F35;
}
.rev_slider .tp-caption{
    visibility: visible !important;
}
.rev_slider .tp-caption.ol-title, .rev_slider .tp-caption.ol-subtitle {
    color: #fff;
    text-shadow: 0 1px 4px  rgba(0,0,0,0.5);
}
.rev_slider .tp-caption.ol-title {
    font-size: 65px;
    text-transform: uppercase;
}
.rev_slider .tp-caption.ol-subtitle {
    font-size: 18px;
    letter-spacing: 4px !important;
    color: #fff;
}

.rev_slider .rev-scroll-btn{
    border-width: 2px !important;
}
.rev_slider .rev-scroll-btn span{
    width: 4px;
    height: 8px;
    border-radius: 2px;
    margin: -4px 0 0 -2px;
}
#footer{
	position: relative;
	background-position: center bottom;
	height: 90vh;
	min-height: 400px;
}
#footer #footer-main, #footer #footer-bar{
    background-color: transparent;
}
#footer #footer-bar{
    border-top:none;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
}

#header.nav-dark #nav li ul.sub-menu, #header.nav-dark #nav li.mega-menu .megamenu-wrapper, #header.nav-dark .cart .cart-inner, .nav-dark #header #nav li ul.sub-menu, .nav-dark #header #nav li.mega-menu .megamenu-wrapper, .nav-dark #header .cart .cart-inner{
	background-color: #1F1E35;
}

#footer{

}

#footer:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(to bottom, rgba(245,245,245,1) 0%, rgba(245,245,245,1) 20%, rgba(246,246,246,0.87) 68%, rgba(245,245,245,0.79) 100%);
}

@media (max-width: 992px) {
	#footer{
		height: auto;
	}
	#footer #footer-bar{
        position: static;
    }
}
    


.animated-subtitle {
    display: inline-block; 
    opacity: 0; 
    transform: translateY(-25px); 
    transition: opacity 1.5s ease-out, transform 1.5s ease-out; 
    font-size: 20px; 
    letter-spacing: 3px; 
    line-height: 1; 
    color: #fff;
    position: relative; 
    top: 60%; 
    text-align: center;
}


.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: fit-content; /* Or a fixed height */
    width: fit-content;
    position: relative;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.animated-button {
    opacity: 0;
    transform: translateY(25px);
    transition: opacity 1.5s ease-out, transform 1.5s ease-out;
    font-family: "Play", sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 12px 50px;
    background-color: transparent;
    border: 1px solid #dedede;
    color: #fff;
    border-radius: 60px;
    top: 50%;
}

.animated-button:hover, .animated-button:focus {
    background-color: #eee;
    color: #555;
    text-decoration: none;
}

.show {
    opacity: 1;
    transform: translateY(0);
}